body {
    font-style: none;
    box-sizing: border-box;
    text-decoration: none;
   
}

@font-face {
    font-family: sora;
    src: url("../assets/Sora-VariableFont_wght.ttf");
}

a {
    text-decoration: none;
}

:root {
    --primary-color: #5578BA;
}

:root {
    --sec-color: #40A376;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sora;

}

ul {
    list-style-type: none;
  }

ul li {
    margin: 0;
    list-style: none;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 40px;
    height: 130vh;
    margin-top: 20px;
}

.header {
    height: 100vh;
    width: 400px; 
    display: flex;  
    flex-direction: column;
}


.header img {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    background-color: white;
    align-self: center; 
    padding: 10px;
    background-size: cover;
    border: 3px solid var(--sec-color);
}


.header h1 {
    align-self: center;
    margin: 20px 0 0 0;
    border-bottom: solid 1px var(--sec-color);
    padding: 0 0 10px 0;
}

.header h3 {
    align-self: center;
    margin-bottom: 5px;
}

.header p {
    color: white;
    text-align: center;
}   

.links{
    width: 400px;
    margin: -20px 0 -25px 0;
}

.links ul {
    padding: 10px;
    margin: 2px 0 5px 0;
}

.links ul li {
    margin: 2px 0 2px 0;
}

.links ul li a {
    color: white;
    margin: 15px 0 15px 0;
    background: linear-gradient( var(--primary-color), var(--sec-color));
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.links ul li a:hover {
    background: linear-gradient( var(--sec-color), var(--primary-color));
}

.links ul li img {
    margin-right: 5px;
    height: 22px;
}

.links ul li p {
    display: inline-block;
    color: white;
    margin: 15px 0 15px 0;
    background: linear-gradient( var(--primary-color), var(--sec-color));
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

.links ul li p:hover {
    background: linear-gradient( var(--sec-color), var(--primary-color));
}

.footer {
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

.footer p {
    text-align: center;
    font-size: 10px;
    color: gray;
    display: block;
}

.footer p a {
    font-weight: bold;
    color: gray;
}

/* Janela "Onde comer" */

#co1 {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    height: 130vh;
    padding: 40px;
}


.back {  
        height: 80vh;
        width: 100vh;
        background-color: rgba(0,0,0,0.8);
        text-align: center;
        border: 1px solid var(--sec-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 40px;
        box-sizing: border-box;
    }

.back h1{
    color: white;
    border-bottom: 1px solid var(--sec-color);
    padding: 15px 0;
    margin-top: -30px;
}

.back ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0;
    margin-top: 30px;
    border-radius: 5px;
}

.back ul li {
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient( var(--primary-color), var(--sec-color));
}

.back ul li a{
    color: white;
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    padding: 10px;
}

.back ul li p {
    color: white;
    margin-bottom: 2px;
    padding: 5px 0;
    font-size: 18px;
    border-bottom: solid 1px black;
}

.back ul li a:hover {
    color: black;
}

#close {
    margin-top: 50px;
}

#close p {
    color: white;
    background: linear-gradient( var(--primary-color), var(--sec-color));
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    width: 50px;
    margin: 0 auto;
}

#close p:hover {
    background: linear-gradient( var(--sec-color), var(--primary-color));
}


/* Responsivo */

@media only screen and (max-width: 600px) {
    .container {
        height: 100vh;
        padding: 80px;
    }

    .header {
        width: 300px;
        }
    
    .header h1 {
        font-size: 25px;
    }
    .header h3 {
        font-size: 15px;
    }
    
    .header p {
        font-size: 12px;
        text-align: justify;
        align-self: flex-start;
    }
    
    .header img {
        height: 150px;
        width: 150px;
    }
    
    .links {
        width: 300px;
    }

    .links ul li {
        margin: -5px 0;
    }

    .links ul li a, .links ul li p{
      padding: 15px;
      font-size: 15px;
    }

    .links ul li img {
        height: 15px;
    }


    .footer p {
        font-size: 8px;
    }

    #co1 {
        height: 110vh;
    }

    .back {  
        height: 80vh;
    }

    .back h1 {
        margin-top: 50px;
    }

    .back ul {
        grid-template-columns: 2fr;
    }

    #close  {
        margin: 10px auto;
    }
  }
  