@font-face {
    font-family: sora;
    src: url("../assets/Sora-VariableFont_wght.ttf");
}

* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

ul li {
    margin: 0;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sora;
    height: 120vh;
}
/* Var cores */

:root {
    --primary-color: #5578BA;
}

:root {
    --sec-color: #40A376;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 115vh;
    padding: 10px;
}

.header {
    width: 400px; 
    display: flex;  
    flex-direction: column;
}


.header img {
    height: 150px;
    width: 150px;
    border-radius: 20%;
    background-color: white;
    align-self: center; 
    padding: 10px;
    background-size: cover;
    border: 3px solid var(--sec-color);
}


.header h1 {
    align-self: center;
    margin: 20px 0 0 0;
    border-bottom: solid 1px var(--sec-color);
    padding: 0 0 10px 0;
    font-size: 25px;
}

.header h3 {
    align-self: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.header p {
    color: white;
    text-align: center;
    font-size: 14px;
}   

.links{
    width: 400px;
}

.links ul {
    padding: 10px;
    margin: -20px 0 -20px 0;
}

.links ul li {
    margin: 2px 0 2px 0;
}

.links ul li a, .links ul li p {
    color: white;
    margin: 10px 0 10px 0;
    background: linear-gradient( var(--primary-color), var(--sec-color));
    padding: 12px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
}

.links ul li a:hover, .links ul li p:hover {
    background: linear-gradient( var(--sec-color), var(--primary-color));
}

.links ul li img {
    margin-right: 5px;
    height: 18px;
}

.footer {
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

.footer p {
    text-align: center;
    font-size: 10px;
    color: gray;
    display: block;
}

.footer p a {
    font-weight: bold;
    color: gray;
}

/* Div "Onde comer" */

#co1 {
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    padding: 40px;
}


.back {  
        height: 80vh;
        width: 100vh;
        background-color: rgba(0,0,0,0.8);
        text-align: center;
        border: 1px solid var(--sec-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 40px;
        box-sizing: border-box;
    }

.back h1{
    color: white;
    border-bottom: 1px solid var(--sec-color);
    padding: 15px 0;
    margin-top: -30px;
}

.back h2 {
    color: white;
    font-size: 12px;
}

.back ul {
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 0;
    margin-top: 30px;
    border-radius: 5px;
}

.back ul li {
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background: linear-gradient( var(--primary-color), var(--sec-color));
}

.back ul li a{
    color: white;
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    padding: 10px;
}

.back ul li p {
    color: white;
    margin-bottom: 2px;
    padding: 5px 0;
    font-size: 18px;
    border-bottom: solid 1px black;
}

.back ul li a:hover {
    color: black;
}

#close {
    margin-top: 50px;
}

#close p {
    color: white;
    background: linear-gradient( var(--primary-color), var(--sec-color));
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;
    width: 80px;
    margin: 0 auto;
}

#close p:hover {
    background: linear-gradient( var(--sec-color), var(--primary-color));
}

/* Responsivo */

@media only screen and (max-width: 750px) {
   body {
    height: 95vh;
   }
   
    .container {
        padding: 20px;
        height: 80vh;
        margin-top: 80px;
    }

    .header {
        height: 80vh;
        width: 300px;
        }
    
    .header h1 {
        font-size: 22px;
    }
    .header h3 {
        font-size: 15px;
    }
    
    .header p {
        font-size: 12px;
    }
    
    .header img {
        height: 120px;
        width: 120px;
    }
    
    .links {
        width: 300px;
    }


    .links ul li a, .links ul li p{
      padding: 10px;
      font-size: 14px;
    }

    .links ul li img {
        height: 14px;
    }


    .footer p {
        font-size: 8px;
    }
/* Div onde comer */
    #co1 {
        background-color: rgba(0,0,0,0.5);
        padding: 0;
        height: 100%;
        width: 100%;
    }

    .back {  
        margin: 0 auto;
        align-items: center;
        width: 80%;
        height: 90vh;
        padding: 80px 0;
    }

    .back ul li {
        height: 80px;
        width: 250px;
    }

    .back h1 {
        font-size: 20px;
        margin: 0;
    }

    .back h2 {
        width: 300px;
        margin: 10px 0 -20px 0;
    }
    .back ul {
        grid-template-columns: 2fr;

        
    }

    .back ul li p {
        padding-bottom: 2px;
        margin: 10px 0 0 0;
        font-size: 15px;
        
    }

    .back ul li a {
        font-size: 13px;
        margin: 0 auto;
    }

    #close  {
        margin: 0 auto;
        padding: 10px;
    }

    #close p {
        font-size: 13px;
    }
  }
  