@font-face {
    font-family: sora;
    src: url("../assets/Sora-VariableFont_wght.ttf");
}

* {
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

ul li {
    margin: 0;
}

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sora;
    height: 120vh;
}
/* Var cores */

:root {
    --primary-color: #23766f;
}

:root {
    --sec-color: #40A376;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 115vh;
    padding: 10px;
}

.header {
    width: 400px; 
    display: flex;  
    flex-direction: column;
}


.header img {
    height: 180px;
    width: 180px;
    border-radius: 30px;
    background-color: white;
    align-self: center; 
    padding: 10px;
    background-size: cover;
}

.header h3 {
    align-self: center;
    margin-bottom: 5px;
    font-size: 18px;
}

.header p {
    color: white;
    text-align: center;
    font-size: 14px;
}   

.links{
    width: 400px;
}

.links ul {
    padding: 10px;
    margin: -20px 0 -20px 0;
}

.links ul li {
    margin: 2px 0 2px 0;
}

.links ul li a, .links ul li p {
    color: white;
    margin: 12px 0;
    background-color: var(--sec-color);
    padding: 12px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    transition-property: background-color, text-shadow;
    transition-duration: 700ms;
}

.links ul li a:hover, .links ul li p:hover {
    background-color: var(--primary-color);
    text-shadow: 1px 1px 1px rgb(54, 54, 54);
}

.links ul li img {
    margin-right: 5px;
    height: 18px;
}

.footer {
    width: 400px;
    text-align: center;
    margin-top: 5px;
}

.footer p {
    text-align: center;
    font-size: 10px;
    color: gray;
}

.footer p a {
    font-weight: bold;
    color: gray;
    transition-property: color;
    transition-duration: 700ms;
}

.footer p a:hover {
    color: var(--sec-color);
}

/* Div "Onde comer" */

.ondeComer {
    opacity: 0;
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    height: 100vh;
    padding: 40px;
    animation: fadeInOut 0.6s ease-in-out; 
}

@keyframes fadeInOut { 
    0% { 
        opacity: 0; 
        display: none; 
    } 
  
    100% { 
        opacity: 1; 
        display: flex; 
    } 
}

.ondeComer.ativo {
    display: flex;
    opacity: 1;
}

.back {  
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        text-align: center;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 0 40px;
        box-sizing: border-box;
    }

.back h1{
    color: white;
    border-bottom: 1px solid var(--sec-color);
    padding: 15px 0;
    margin-top: -30px;
}

.back h2 {
    color: white;
    font-size: 12px;
}

.back ul {
    padding: 0;
    width: 300px;
    border-radius: 5px;
    margin: 0 auto;
}

.back ul li {
    margin: 10px auto;
    background-color: var(--sec-color);
    border-radius:30px;
    height: 70px;
    padding: 1px;
}

.back ul li a{
    color: white;
    font-size: 15px;
    padding: 5px;
}

.back ul li p {
    color: white;
    margin-bottom: 2px;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgb(54, 54, 54);
}

.back ul li a:hover {
   text-shadow: 1px 1px 1px black;
   transition-property: text-shadow;
   transition-duration: 700ms;
}

#close {
    margin-top: 50px; 
    width: 100px;
    margin: 0 auto;
}

#close p {
    color: white;
    background-color: var(--sec-color);
    transition-property: background-color, text-shadow;
    transition-duration: 700ms;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    border-radius: 30px;
}

#close p:hover {
    background-color: var(--primary-color);
}

/* Responsivo */

@media only screen and (max-width: 750px) {
   .container {
        padding: 20px;
        height: 80vh;
        margin-top: 80px;
    }

    .header {
        height: 80vh;
        width: 300px;
        }
    
    .header h3 {
        font-size: 14px;
    }
    
    .header p {
        font-size: 12px;
    }
    
    .header img {
        height: 120px;
        width: 120px;
    }
    
    .links {
        width: 300px;
    }


    .links ul li a, .links ul li p{
      padding: 18px;
      font-size: 14px;
      margin: 8px 0;
    }

    .links ul li img {
        height: 13px;
    }

    .footer p {
        font-size: 8px;
    }
/* Div onde comer */
    .back {  
        align-items: center;
        align-content: center;
        margin: 0 auto;
    }
    
    .back ul {
        grid-template-columns: 2fr;
        margin-bottom: -1px;
    }

    .back ul li {
        box-sizing: border-box;
        height: auto;
        border-radius: 30px;
        background-color: var(--sec-color)
    }

    .back h1 {
        font-size: 20px;
    }

    .back h2 {
        width: 300px;
        margin: 30px 0;
    }

    .back ul li p {
        font-size: 15px;
        margin-top: 2px;
        
    }

    .back ul li a {
        font-size: 13px;
        text-shadow: 1px 1px 1px rgb(18, 18, 18);
    }

    #close  {
        width: 300px;
        margin-top: 25px;
    }

    #close p {
        font-size: 13px;
    }
  }
  